@charset "utf-8";
@import "CCS/common/common";
#fadeSlide{
	$globalWidth:100%;
	$globalHeight:300px;
	
	width:$globalWidth;
	height:$globalHeight;
	overflow:hidden;
	.slideItem{
		
		position:absolute;
		height:$globalHeight;
		line-height:$globalHeight;
		width:$globalWidth;
		
		text-align: center;
		img{
			height: 100%;
			vertical-align: middle;

		}
	}
	$pnWidth:50px;
	$pnHeight:200px;
	%pn{
		width:$pnWidth;
		height:$pnHeight;
		cursor: pointer;
		background:red;
		position:absolute;
		top:50%;
		z-index: 4;

	}
	#prev{
		@extend %pn;
		left:0;
		
		margin-top:-$pnHeight/2;
	}
	#next{
		@extend %pn;

		margin-top:-$pnHeight/2;
		right:0;
	}

	// 轮播条目
	#navigator{
		position:absolute;
		bottom:10%;
		left:50%;
		z-index: 3;
		ul{
			@include inline-block;
			@extend %clearfix;
			li{
				float:left;
				margin-right:2em;
				a{
					@include inline-block;
					width:10px;
					height:10px;
					background:green;
					cursor: pointer;
					&:hover,&.hover{
						background:yellow;
					}
				}
			}
		}
	}
}